
.chat-side
  -# <サイドバー>
  .side-header
    .side-box
      .user-name
        YOU
      .manu
        .icon
          <i class="far fa-edit"></i>
          <i class="fas fa-cog"></i>
  .groups
    .groups-box
      %p.groups-name
        group_name
      %p.groups-text
        おはよう！
