* {
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  background-color: #ffffff;
  display: flex;
}

.chat-side {
  width: 300px;
  float: left;
  .side-header {
    background-color: #253141;
    height: 100px;
    line-height: 100px;
    align-items: center;
    padding: 0px 20px;
    &__box {
      background-color: #253141;
      width: 260px;
      height: 20px;
      display: flex;
      justify-content: space-between;
      .name {
        color: #fff;
        font-weight: bold;
        font-size: 16px;
      }
      .lists {
        width: 60px;
        display: flex;
        list-style: none;
        float: right;
        color: #eeeeee;
        .list {
          text-decoration: none;
          margin-left: 5px;
        }
        .icon {
          color: #eeeeee;
        }
      }
    }  
  }
  .groups {
    background-color: #2f3e51;
    height: calc(100vh - 100px);

    padding: 20px 20px;
    .group {
      height: 31px;
      color: #fff;
      background-color: #2f3e51;
      margin-bottom: 40px;
      &__name {
        height: 15px;
        width: 260px;
        font-size: 15px;
        margin-bottom: 5px;
      }
      &__text {
        width: 260;
        font-size: 11px;
      }
    }
  }
}

.chat-main {
  width: calc(100vw - 300px);
  background-color: #ffffff;

  .header {
    width: calc(100vw - 300px);
    background-color: #ffffff;
    height: 100px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding: 0 40px;
    align-items: center;
    border-bottom: solid 1px #eee;
    overflow: scroll;

    .header-leftbox {
      .current-group {
        color: #333333;
        margin-bottom: 15px;
        font-size: 20px;
      }
      .member-list {
        font-size: 12px;
        color: #999999;
        display: flex;
        list-style: none;
        margin-left: 5px;
        .member {
          margin-left: 5px;
        }

      }
    }
    .edit-btn {
      font-size: 16px;
      border: 1px solid #38aef0;
      color: #38aef0;
      float: right;
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
    }
    
  }
  .messages {
    background-color: #fafafa;
    height: calc(100vh - 190px);
    padding: 35px 40px;
    .message {
      padding-bottom: 40px;
      .info {
        display: flex;
        margin-bottom: 12px;
        &__name {
          font-size: 16px;
          color: #333333;
          margin-right: 5px;
        }
        &__date {
          color: #999999;
          margin-top: 0px;
          font-size: 12px;
        }
      }
      .text {
        font-size: 14px;
        color: #434A54;
      }
      .image {
        height: 200px;
        width: 200px;
      }
    }
  }
  .form {
    background-color: #DDDDDD;
    box-sizing: border-box;
    height: 90px;
    padding: 20px 50px 20px 40px;
    .new-message {
      border: none;
      float: left;
      height: 50px;
      width: calc(100% - 150px);
      padding-left: 5px;
    }
    .input {
      background-color: $white;
      float: left;
      height: 50px;
      padding-right: 10px;
      .input-text {
        font-size: 20px;
        line-height: 50px;
      }
      .hidden {
        display: none;
      }
    }
    .submit-btn {
      background-color: $light_blue;
      border: none;
      color: $white;
      float: right;
      font-size: 16px;
      height: 50px;
      margin-left: 15px;
      padding: 0 30px;
    }
  }
}